<h1>Dragon Ball Z</h1>
<hr>

<div class="row">

  <div class="col">
    <h3>People</h3>
    <hr>
    <ul>
      <li *ngFor="let person of people" >
        {{ person.name }} - {{ person.power | number }}
      </li>
    </ul>
  </div>


  <div class="col">
    <h3>Add person <small>{{ person.name }}</small></h3>
    <hr>
    <form (ngSubmit)="addPerson()">
      <input
        type="text"
        placeholder="Name"
        name="name"
        [(ngModel)]="person.name"
      />

      <input
        type="number"
        placeholder="Power"
        name="powe"
        [(ngModel)]="person.power"
      />

      <button type="submit">
        Add person
      </button>
    </form>
  </div>

</div>
